APP_SECRET_KEY=generate-app-key
DEBUG=True

# Postgres
POSTGRES_DB=jobapi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# OpenAI
OPENAI_API_KEY=include-open-api-key
